# Base de Datos
DATABASE_URL=sqlite:///./inventario.db

# Auth JWT
# Puedes generar un JWT_SECRET_KEY seguro corriendo en la terminal: openssl rand -hex 32
JWT_SECRET_KEY=cambiar_este_secreto_por_uno_seguro_e_inadivinable_en_produccion
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
